.About {
    min-height: 100dvh;
    padding: 2.5vmin;
    padding-top: 13.5vmin;
    display: flex;
    justify-content: space-evenly;
}

/* About Card */

#about-card {
    min-width: 20vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5vmin;
    border-radius: 2.5vmin;
    box-shadow: 0px 0px 5px 2.5px white;
}

.inverted #about-card {
    box-shadow: 0px 0px 5px 2.5px black;
}

.About #image-cover {
    height: 35vmin;
    width: fit-content;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px white;
    overflow: hidden;
    transition: box-shadow 250ms linear;
}

.inverted .About #image-cover {
    box-shadow: 0px 0px 5px 5px black;
}

.About #image-cover:hover {
    box-shadow: 0px 0px 20px 10px white;
}

.inverted .About #image-cover:hover {
    box-shadow: 0px 0px 20px 10px black;
}

.About img {
    height: 65vmin;
}

.About #name {
    font-size: 6vmin;
}

.About p {
    font-size: 4.5vmin;
    text-indent: 2.5vmin;
}

#resume {
    text-decoration: none;
    margin: 2.5vmin;
    margin-bottom: 0px;
    padding: 2vmin;
    font-size: 3vmin;
    color: black;
    background-color: white;
    border-radius: 0.5vmin;
    transition: background-color 250ms linear, color 250ms linear;
}

.inverted #resume {
    color: white;
    background-color: black;
}

#resume:hover {
    box-shadow: 0px 0px 10px white;
    background-color: black;
    color: white;
}

.inverted #resume:hover {
    box-shadow: 0px 0px 10px black;
    background-color: white;
    color: black;
}

/* About */

#about-details {
    padding: 0.5vmin 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-details span {
    font-size: 5.5vmin;
}

#about-intro,
#about-skills {
    font-size: 4.5vmin;
}

.fade-in {
    animation: fadeIn 1s ease-out;
    opacity: 1;
}

@media (max-width:1024px) {
    .About {
        align-items: center;
        flex-direction: column;
        gap: 5vmin;
    }

    #about-card {
        width: 75%;
        gap: 5vmin;
    }

    #about-details {
        gap: 5vmin;
    }
}