footer {
    font-size: 4.5vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5vmin;
    padding: 1rem;
}

footer div {
    display: flex;
    justify-content: space-evenly;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 10vmin;
}

footer p {
    text-align: center;
}

@media (max-width:1024px) {
    footer div {
        display: block;
        text-align: center;
    }
}