.Navbar {
    position: fixed;
    top: 0;
    height: 12vmin;
    width: 100%;
    padding: 0.5rem;
    backdrop-filter: blur(15px);
    /* border-bottom: 1px solid white; */
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}

#logo {
    margin-left: 1rem;
    font-size: 8vmin;
    text-shadow: 0px 0px 25px white;
    animation: flicker 2.5s linear;
    transition: text-shadow 250ms linear;
}

#logo:hover,
#logo:focus {
    text-shadow: 0px 0px 5px white;
}

.inverted #logo:hover,
.inverted #logo:focus {
    text-shadow: 0px 0px 5px black;
}

#hamburger {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25vmin;
}

#hamburger * {
    height: .75vmin;
    width: 8vmin;
    background-color: white;
    transform: skew(15deg);
    box-shadow: 0px 0px 15px white;
}

.Navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.25rem;
    list-style: none;
    width: 100%;
    font-size: 4vmin;
}

#links a {
    color: inherit;
    display: block;
    text-decoration: none;
    transform: skew(15deg);
    width: 10vw;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding-block: 2.5vmin;
    transition: background-color 250ms linear, color 250ms linear;
}

#links li {
    text-align: center;
    transform: skew(-15deg);
}

#links a:focus,
#links a.active {
    color: black;
    background-color: white;
}

#links a:hover {
    border: 1px solid white;
}

#theme {
    height: 6.5dvh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    margin-inline: 2.5dvw;
}

@media screen and (max-width:1024px) {

    .Navbar {
        padding: 0px;
    }

    #hamburger {
        display: flex;
    }

    .Navbar ul {
        position: absolute;
        top: 12vmin;
        grid-column: span 2;
        height: 0px;
        backdrop-filter: blur(15px);
        overflow: hidden;
        transition: height 250ms linear;
    }

    #links {
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .Navbar ul.show-links {
        height: 75dvh;
    }

    #links a {
        width: 50%;
    }

}

.inverted {
    background-color: white;
    color: black;
    border-bottom: 1px solid white;
}

.inverted .Navbar {
    border-bottom: 1px solid black;
    color: black;
}

.inverted #logo {
    text-shadow: 0px 0px 25px black;
}

.inverted #hamburger * {
    background-color: black;
    box-shadow: 0px 0px 15px black;
}

.inverted #links a {
    color: black;
}

.inverted #links a:focus,
.inverted #links a.active {
    color: white;
    background-color: black;
}

.inverted #links a:hover {
    border: 1px solid black;
}

.inverted #theme {
    background-color: black;
}

#scroll-tracker {
    background-color: white;
}

.inverted #scroll-tracker {
    background-color: black;
}